
<body>
<div class="main">
    <!--//导航-->

    <!--//主体-->
    <div class="container">
    <div class=" cont clear">

        <div class="left col-sm-12 col-md-9">
            <ul class="hidden-xs nav  clear faxian ">
                <h2 class="hidden-xs"><i class="fa fa-bars"></i> 发现</h2>
                <ul class="tab-menu nav">
                    <li><a href="#">招聘</a></li>
                    <li><a href="#">问答</a></li>
                    <li><a href="#">分享</a></li>
                </ul>
            </ul>
            <div class="tab-down ">
                <section id="zhaopin">
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>招聘</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>招聘</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                </section>
                <section id="wenda">
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>问答</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                </section>
                <section id="shares">
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>分享</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>分享</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                    <div class="cont-item clear">

                        <div class="item-content-left">
                            <a href="/user-center" class="hidden-xs user-name">
                                <img src="<%=user.avatar%>">
                            </a>
                            <h4>
                                <a href="/question">我是一张图片</a><span>分享</span>
                            </h4>
                            <p>发起了问题  • 3个回复 • 10次浏览 • 1天前</p>
                        </div>
                        <div class="item-content-right ">
                            <span class="">贡献</span>
                            <a href="/user-center" class="hidden-xs smaller">
                                <img src="<%=user.avatar%>">
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="page pull-right">
                1
            </div>
        </div>

        <div class="right hidden-xs hidden-sm clear">
            <% if (user){%>
                <div class="us col-lg-12 col-md-12">
                <h2>个人信息 </h2>
                <span>
                    <a href="/user-center">更多</a>
                </span>
                <div class="wa">
                    <a href="/user-center" class="ggg"><img src="<%=user.avatar%>"></a>
                    <a href="">qwqqqq</a>
                    <p>这家伙很懒什么都没有留下</p>
                </div>
            </div>

            <div class="hotus col-lg-12 col-md-12">
                <h2>热门用户 </h2>
            <span><a href="/users">更多</a></span>
                <div class="wa">
                    <a href="/user-center" class="ggg"><img src="<%=user.avatar%>"></a>
                    <a href="">qwqqqq</a>
                    <p>积 分 : 25 , 发 表 : 2</p>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    </div>
    <!--//页脚-->
</div>
</body>




